#tracker-index .tracker_overdue,
#tracker-index .bold {
  font-weight: bold;
}
#tracker-index .tracker_unseen {
  font-weight: bold;
}
#tracker-index .tracker_seen {
  font-weight: normal;
}
#tracker-index .low,
#tracker-index .low_done,
#tracker-index .normal,
#tracker-index .normal_done,
#tracker-index .high,
#tracker-index .high_done,
#tracker-index .urgent,
#tracker-index .urgent_done {
  font-weight: bold;
}
#tracker-index .low,
#tracker-index .low_done {
  color: #606060;
}
#tracker-index .normal,
#tracker-index .normal_done {
  color: black;
}
#tracker-index .high {
  color: #cc0000;
}
#tracker-index .high_done {
  color: #800000;
}
#tracker-index .urgent {
  color: #ff00ff;
}
#tracker-index .urgent_done {
  color: #800080;
}
#tracker-index .tracker_overdue {
  color: #cc0000;
  font-weight: bold;
}
#tracker-index .private {
  font-style: italic;
}
#tracker-index .planned {
  font-style: italic;
}
#tracker-index .fixedHeight {
  line-height: 12px;
}
#tracker-index .tracker_indexPrio:first-letter {
  font-weight: bold;
}
#tracker-index .tracker_image16 img {
  height: 16px;
}
#tracker-index [id*="tr_summary"] a {
  color: inherit;
}
/* Header classes*/
#tracker-index_tracker-index-left_multiqueue {
  /* This prevents the multi-select from pushing down the add button */
  max-width: 95%;
}
/* Assigned context dialog */
.action_popup-content.assigned_popup {
  min-height: 150px !important;
  overflow-y: hidden;
}
/* give comments NM full height of the tab */
et2-tab-panel#tracker-edit_comments {
  padding-top: 0;
  overflow: hidden;
}
div#tracker-edit_replies {
  height: 100%;
}
.tracker_leftPad5 {
  padding-left: 5px;
}
label.tracker_trIdEdit:before {
  content: "#";
}
.headertext {
  color: black;
  font-size: 120%;
}
.lpadding5 {
  padding-left: 5px;
}
.redItalic {
  color: red;
  font-style: italic;
}
/* Restricted access replies */
.reply_visible_1 {
  background: var(--sl-color-amber-50, beige);
  width: 100%;
}
.egwGridView_scrollarea tr.row_category.reply_visible_1 > td:first-child {
  border-left-color: var(--sl-color-amber-200);
  --category-color: var(--sl-color-amber-200);
}
#tracker-edit_tr_creator {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  overflow: hidden;
}
/* Add border to ACL's table for more reading convenient*/
#tracker-admin_tracker-admin-acl tr.row {
  border-bottom: 1px solid silver;
}
/* Nicer sizine for escalation selectboxes */
.tracker_escalation_action select {
  width: 150px;
}
#tracker-edit_tr_assigned + .chzn-container .chzn-results {
  max-height: 215px;
}
#tracker-edit_tracker-edit-add_comment {
  /* Add comment file buttons */
}
#tracker-edit_tracker-edit-add_comment td.add_comment_header {
  padding-bottom: 0px;
}
#tracker-edit_tracker-edit-add_comment .add_comment_header::part(base),
#tracker-edit_tracker-edit-add_comment #tracker-edit_tracker-edit-add_comment .add_comment_header et2-hbox::part(base) {
  align-items: center;
}
#tracker-edit_tracker-edit-add_comment .et2_link_to.et2_toolbar {
  padding: 0;
}
#tracker-edit_tracker-edit-add_comment .et2_link_to.et2_toolbar * {
  vertical-align: top;
}
#tracker-edit_tracker-edit-add_comment .et2_hbox .et2_label[for="canned_response"] {
  padding-top: 6px;
}
#tracker-edit_tracker-edit-add_comment et2-vfs-select::part(base),
#tracker-edit_tracker-edit-add_comment #tracker-edit-comment-dialog et2-vfs-select::part(base) {
  border-color: transparent;
}
#tracker-edit_tracker-edit-add_comment .et2_file.et2_vfs table {
  width: 300px;
}
#tracker-edit_tracker-edit-add_comment .et2_hbox .et2_checkbox_label {
  margin-top: 10px;
}
#tracker-edit_tracker-edit-comments {
  /* Limit image sizes */
  /* Turn off edit cursor, use context menu instead */
  /* Files linked to comments */
}
#tracker-edit_tracker-edit-comments img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
#tracker-edit_tracker-edit-comments .et2_editable {
  cursor: default;
}
#tracker-edit_tracker-edit-comments .et2_link_to.et2_toolbar * {
  vertical-align: top;
}
#tracker-edit_tracker-edit-comments .et2_link_to.et2_toolbar div.et2_file {
  width: 95%;
}
#tracker-edit_tracker-edit-comments .et2_file.et2_vfs tr:first-child {
  border-collapse: separate;
  border-spacing: 30px;
}
#tracker-edit_tracker-edit-comments .et2_file.et2_vfs tbody,
#tracker-edit_tracker-edit-comments .et2_file.et2_vfs td {
  border: none;
}
#tracker-edit_tracker-edit-comments .et2_vfs td.icon,
#tracker-edit_tracker-edit-comments .et2_vfs .progress {
  display: none;
}
#tracker-edit-comment-dialog {
  /* Dialog sizing restrictions */
}
#tracker-edit-comment-dialog::part(panel) {
  min-width: 40em;
  min-height: 20em;
}
#tracker-edit-comment-dialog::part(body) {
  display: flex;
  align-items: stretch;
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit {
  flex: 1 1 auto;
  /* HTML comment edit */
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit et2-template {
  height: 100%;
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit et2-template::part(base) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit #tracker-edit-comment_edit_reply_message {
  width: 100%;
  height: 100%;
  padding: 0;
  flex: 1 0 10em;
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit #tracker-edit-comment_edit_reply_message + div {
  flex: 1 0 15em;
}
#tracker-edit-comment-dialog #tracker-edit-comment_edit .et2_toolbar > * {
  flex: 0 0;
}
#tracker-admin .jPicker {
  vertical-align: middle;
}
.et2_editable,
.et2_editable_readonly {
  width: 100%;
}
